* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg,#050505, #26555d, #018670);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background: rgb(0, 0, 0);
    padding: 40px;
    width: 420px;
    border-radius: 14px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 25px;
    color: #17342a;
}

.login-container input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    margin-bottom: 20px;
}

.login-container button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #17342a;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background: #139860;
}
