* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg,#050505, #26555d, #018670);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: rgb(0, 0, 0);
    padding: 50px;
    width: 90%;
    max-width: 850px;
    border-radius: 15px;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 255, 200, 0.25);
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

h1 {
    margin-bottom: 12px;
    color: rgba(52, 113, 100, 0.4);
    text-shadow: 0 0 12px rgba(0, 255, 200, 0.4);
}

textarea {
    width: 100%;
    height: 100px;
    padding: 12px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #000000;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: rgba(5, 137, 108, 0.4);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

pre {
    margin-top: 25px;
    background: #b0c0cc;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    font-size: 14px;
    overflow-x: auto;
}

.result-box {
    margin-top: 20px;
    background: #566c7b;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    font-size: 14px;
    overflow-x: auto;
}

.result-box h3 {
    margin-bottom: 6px;
    color: rgba(0, 0, 0, 0.4);
}
