* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #f6f6f7, #858486);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: rgb(255, 255, 255);
    padding: 40px;
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    text-align: center;
}

h1 {
    margin-bottom: 12px;
    color: #1d3866;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 12px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #000000;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #174d84;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

pre {
    margin-top: 25px;
    background: #f7fafc;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    font-size: 14px;
    overflow-x: auto;
}
